<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Browser</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4/dist/css/splide.min.css"
    />
    <link rel="stylesheet" href="../../../style/tailwindcss/style.css" />
  </head>
  <body class="bg-primary">
    <header class="header">
      <div
        class="w-full bg-primary pt-6 pb-6 pl-8 pr-8 relative flex justify-between items-center"
      >
        <div class="flex gap-5 items-center">
          <a href="../../../../index.html">
            <img
              class="w-6 h-auto hover-primary"
              src="../../../media/icons/logo.png"
              alt="logo"
            />
          </a>
          <nav>
            <ul class="flex items-center gap-5">
              <li class="flex gap-2 items-center">
                <a href="#">
                  <img
                    class="h-8 hover-primary"
                    src="https://cms-assets.unrealengine.com/qAiDvosPSFGqJxTVuY7h"
                    alt=""
                  />
                </a>
                <div class="header-menu">
                  <i
                    class="fa-solid fa-sort-down text-white cursor-pointer hover-primary block lg:hidden"
                  ></i>
                </div>
              </li>
              <li class="">
                <div
                  class="flex lg:flex-row lg:items-center flex-col gap-5 rs-header-menu p-4"
                >
                  <i
                    class="close-menu fa-solid fa-xmark text-xl lg:hidden block"
                  ></i>
                  <div class="cursor-pointer hover-primary">Support</div>
                  <div class="cursor-pointer relative group">
                    Distribute
                    <i class="fa-solid fa-angle-down text-white"></i>
                    <ul
                      class="w-72 h-auto absolute bg-primary p-5 rounded-2xl hidden group-hover:block z-20"
                    >
                      <li class="py-2">
                        <a class="hover-primary" href="#">
                          Distribute on Epic Games Store
                        </a>
                      </li>
                      <li class="py-2">
                        <a class="hover-primary" href="#"> Developer Forums </a>
                      </li>
                      <li class="py-2">
                        <a class="hover-primary" href="#"> Documentation </a>
                      </li>
                      <li class="py-2">
                        <a class="hover-primary" href="#"> Learning </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </li>
            </ul>
          </nav>
        </div>
        <div class="flex gap-4 items-center relative">
          <div class="md:static md:bg-primary">
            <div
              class="mb-bar rs-header-bar gap-4 p-4 lg:p-0 flex flex-col items-center lg:flex-row lg:items-baseline"
            >
              <div class="close-header-bar lg:hidden block">
                <i class="fa-solid fa-xmark text-red-600 text-2xl"></i>
              </div>
              <div class="hover-primary cursor-pointer">
                <i class="fa-solid fa-globe"></i>
              </div>
              <!-- <div class="hover-primary cursor-pointer">
            <div
              class="w-7 h-7 bg-slate-600 rounded-full flex items-center justify-center"
            >
              K
            </div>
          </div>
          <div class="hover-primary cursor-pointer">Kaio</div> -->
              <button
                class="hover-primary cursor-pointer bg-gray-500 opacity-80 px-2 py-1 rounded-lg text-white"
              >
                Sign in
              </button>
            </div>
          </div>
          <button
            class="hover-primary cursor-pointer text-black bg-secondary px-2 py-1 rounded-lg"
          >
            Download
          </button>
          <div class="header-bar block lg:hidden">
            <i class="fa-solid fa-bars text-white"></i>
          </div>
        </div>
      </div>
    </header>
    <!-- End header -->
    <main>
      <section class="section-search fixed bg-primary w-full z-50">
        <div class="container m-auto">
          <div class="py-6 flex items-center justify-between">
            <div class="flex items-center gap-5 group">
              <div class="relative hidden md:block">
                <input
                  class="px-4 py-2 pl-10 bg-cl-third outline-none rounded-full placeholder:text-gray-400 placeholder:text-sm"
                  type="text"
                  value=""
                  placeholder="Search store"
                />
                <i
                  class="fa-solid fa-magnifying-glass text-white absolute left-4 bottom-1/2 translate-y-1/2 text-sm"
                ></i>
              </div>

              <i class="icon-search fa-solid fa-magnifying-glass"></i>
              <div
                class="w-[98%] absolute h-20 top-0 z-20 toggle-search hidden s"
              >
                <input
                  class="w-full h-full bg-primary outline-none pl-4"
                  type="text"
                  placeholder="Search store"
                />
                <div
                  class="close-search absolute right-4 top-1/2 -translate-y-1/2 cursor-pointer"
                >
                  <i class="fa-solid fa-xmark text-xl"></i>
                </div>
              </div>

              <ul class="flex items-center gap-x-5 group">
                <li class="hidden md:block">
                  <a
                    class="hover-second opacity-70 relative flex items-center gap-2"
                    href="../../../../index.html"
                  >
                    Discovery
                  </a>
                </li>
                <li class="block md:hidden">
                  <input
                    type="checkbox"
                    class="hidden group"
                    id="toggleDiscovery"
                  />
                  <a
                    class="hover-primary relative flex items-center gap-2"
                    href="#!"
                  >
                    Menu
                    <label
                      for="toggleDiscovery"
                      class="block md:hidden cursor-pointer"
                    >
                      <i class="fa-solid fa-chevron-down"></i>
                    </label>
                    <ul
                      class="hidden absolute w-32 h-auto bg-primary z-20 p-2 group-focus-within:block"
                    >
                      <li class="py-2">
                        <a href="../../../../index.html">Discover</a>
                      </li>
                      <li class="py-2">
                        <a href="./browse.html">Browser</a>
                      </li>
                      <li class="py-2"><a href="#!">News</a></li>
                    </ul>
                  </a>
                </li>
                <li class="hidden md:block">
                  <a class="hover-second" href="./browse.html">Browser</a>
                </li>
                <li class="hidden md:block">
                  <a class="opacity-70 hover-second" href="#">News</a>
                </li>
              </ul>
            </div>

            <ul class="flex items-center gap-4">
              <li class="lg:block hidden"><a href="#!"> Wishlist </a></li>
              <li class="lg:block hidden relative">
                <a href="../cart/cart.html">Cart </a>
                <div
                  class="absolute -top-3 -right-4 w-5 h-5 rounded-full bg-white text-black flex items-center justify-center text-sm"
                >
                  1
                </div>
              </li>
              <li class="lg:hidden block">
                <a href="#!">
                  <i class="fa-regular fa-circle-check text-xl"></i>
                </a>
              </li>
              <li class="lg:hidden block relative">
                <a href="../cart/cart.html">
                  <i class="fa-solid fa-cart-shopping text-xl"></i>
                  <div
                    class="absolute -top-3 -right-4 w-5 h-5 rounded-full bg-white text-black flex items-center justify-center text-sm"
                  >
                    1
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </section>
      <!-- End search -->
      <section class="section-popular pt-20">
        <div class="container m-auto">
          <div class="popular-head">
            <h2 class="lg:text-2xl text-xl font-bold">Popular Genres</h2>
          </div>
          <!-- End popular-head -->
          <div class="popular-main pt-4">
            <div
              id="splice-popular"
              class="splide"
              role="group"
              aria-label="Splide Basic HTML Example"
            >
              <div class="splide__track">
                <ul class="splide__list">
                  <li class="splide__slide">
                    <div class="p-4 bg-third rounded-lg">
                      <a class="flex flex-col" href="#!">
                        <div class="recommender-img relative">
                          <img
                            class="relative shadow-2xl shadow-primary"
                            src="https://images.samsung.com/is/image/samsung/assets/vn/apps/gaming-hub/01_gameLauncher_section_kv_mo.jpg?$720_N_JPG$"
                            alt=""
                          />
                        </div>
                        <h3
                          class="text-center lg:text-lg text-base font-semibold pt-4"
                        >
                          Action game
                        </h3>
                      </a>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- End popular main -->
        </div>
      </section>
      <!-- End section-popular -->

      <section class="section-games pt-16">
        <div class="container m-auto">
          <div class="wrapper-games flex">
            <div
              class="list-game lg:flex-[0_1_auto] lg:max-w-[80%] flex-[1_0_100%]"
            >
              <div class="game-arrange flex items-center justify-between">
                <div class="game-left flex items-center gap-4">
                  <span class="font-medium lg:text-xl text-base opacity-25">
                    Show:
                  </span>
                  <div>
                    <select name="" id="" class="bg-primary">
                      <option value="all" selected>All</option>
                      <option value="new-release">New Release</option>
                      <option value="coming-soon">Coming Soon</option>
                      <option value="high-low">Price: High to Low</option>
                      <option value="low-high">Price: Low to High</option>
                    </select>
                  </div>
                  <a href="./detailGame/detailGame.html" class="text-red-600"
                    >Detail</a
                  >
                </div>
                <div class="game-right">
                  <div
                    class="font-medium lg:text-xl text-base cursor-pointer flex items-center gap-2 lg:hidden py-1.5 px-3 bg-cl-third rounded-lg"
                  >
                    Filter(1)
                    <i class="fa-solid fa-layer-group"></i>
                  </div>
                </div>
              </div>
              <!-- End game-arrange -->
              <div
                class="game-main grid lg:grid-cols-4 md:grid-cols-4 sm:grid-cols-3 grid-col-2 pt-4 gap-4"
              >
                <div>
                  <a href="#" class="recommender-img group/plus">
                    <img
                      class="rounded-lg"
                      src="https://m.media-amazon.com/images/I/91vIToID-lL.jpg"
                      alt=""
                    />
                    <div
                      class="absolute top-2 right-4 z-30 hidden group-hover/plus:block group/addWishlist"
                    >
                      <i class="aaaa text-lg fa-solid fa-circle-plus"></i>
                      <div
                        class="absolute py-2 bg-primary w-40 text-center hidden group-hover/addWishlist:block"
                      >
                        Add to Wishlist
                      </div>
                    </div>
                  </a>
                  <div class="pt-4">
                    <a href="#!">
                      <h3 class="lg:text-xl text-lg font-bold">Metro Exodus</h3>
                    </a>
                    <div class="pt-6 flex items-center gap-4">
                      <span
                        class="lg:text-base text-sm py-0.1 px-1.5 text-black rounded-xl bg-secondary"
                      >
                        -80%
                      </span>

                      <span class="lg:text-base text-sm"> &103.500 </span>
                    </div>
                  </div>
                </div>
                <div>
                  <a href="#" class="recommender-img group/plus">
                    <img
                      class="rounded-lg"
                      src="https://m.media-amazon.com/images/I/91vIToID-lL.jpg"
                      alt=""
                    />
                    <div
                      class="absolute top-2 right-4 z-30 hidden group-hover/plus:block group/addWishlist"
                    >
                      <i class="aaaa text-lg fa-solid fa-circle-plus"></i>
                      <div
                        class="absolute py-2 bg-primary w-40 text-center hidden group-hover/addWishlist:block"
                      >
                        Add to Wishlist
                      </div>
                    </div>
                  </a>
                  <div class="pt-4">
                    <a href="#!">
                      <h3 class="lg:text-xl text-lg font-bold">Metro Exodus</h3>
                    </a>
                    <div class="pt-6 flex items-center gap-4">
                      <span
                        class="lg:text-base text-sm py-0.1 px-1.5 text-black rounded-xl bg-secondary"
                      >
                        -80%
                      </span>

                      <span class="lg:text-base text-sm"> &103.500 </span>
                    </div>
                  </div>
                </div>
                <div>
                  <a href="#" class="recommender-img group/plus">
                    <img
                      class="rounded-lg"
                      src="https://m.media-amazon.com/images/I/91vIToID-lL.jpg"
                      alt=""
                    />
                    <div
                      class="absolute top-2 right-4 z-30 hidden group-hover/plus:block group/addWishlist"
                    >
                      <i class="aaaa text-lg fa-solid fa-circle-plus"></i>
                      <div
                        class="absolute py-2 bg-primary w-40 text-center hidden group-hover/addWishlist:block"
                      >
                        Add to Wishlist
                      </div>
                    </div>
                  </a>
                  <div class="pt-4">
                    <a href="#!">
                      <h3 class="lg:text-xl text-lg font-bold">Metro Exodus</h3>
                    </a>
                    <div class="pt-6 flex items-center gap-4">
                      <span
                        class="lg:text-base text-sm py-0.1 px-1.5 text-black rounded-xl bg-secondary"
                      >
                        -80%
                      </span>

                      <span class="lg:text-base text-sm"> &103.500 </span>
                    </div>
                  </div>
                </div>
                <div>
                  <a href="#" class="recommender-img group/plus">
                    <img
                      class="rounded-lg"
                      src="https://m.media-amazon.com/images/I/91vIToID-lL.jpg"
                      alt=""
                    />
                    <div
                      class="absolute top-2 right-4 z-30 hidden group-hover/plus:block group/addWishlist"
                    >
                      <i class="aaaa text-lg fa-solid fa-circle-plus"></i>
                      <div
                        class="absolute py-2 bg-primary w-40 text-center hidden group-hover/addWishlist:block"
                      >
                        Add to Wishlist
                      </div>
                    </div>
                  </a>
                  <div class="pt-4">
                    <a href="#!">
                      <h3 class="lg:text-xl text-lg font-bold">Metro Exodus</h3>
                    </a>
                    <div class="pt-6 flex items-center gap-4">
                      <span
                        class="lg:text-base text-sm py-0.1 px-1.5 text-black rounded-xl bg-secondary"
                      >
                        -80%
                      </span>

                      <span class="lg:text-base text-sm"> &103.500 </span>
                    </div>
                  </div>
                </div>
                <div>
                  <a href="#" class="recommender-img group/plus">
                    <img
                      class="rounded-lg"
                      src="https://m.media-amazon.com/images/I/91vIToID-lL.jpg"
                      alt=""
                    />
                    <div
                      class="absolute top-2 right-4 z-30 hidden group-hover/plus:block group/addWishlist"
                    >
                      <i class="aaaa text-lg fa-solid fa-circle-plus"></i>
                      <div
                        class="absolute py-2 bg-primary w-40 text-center hidden group-hover/addWishlist:block"
                      >
                        Add to Wishlist
                      </div>
                    </div>
                  </a>
                  <div class="pt-4">
                    <a href="#!">
                      <h3 class="lg:text-xl text-lg font-bold">Metro Exodus</h3>
                    </a>
                    <div class="pt-6 flex items-center gap-4">
                      <span
                        class="lg:text-base text-sm py-0.1 px-1.5 text-black rounded-xl bg-secondary"
                      >
                        -80%
                      </span>

                      <span class="lg:text-base text-sm"> &103.500 </span>
                    </div>
                  </div>
                </div>
                <div>
                  <a href="#" class="recommender-img group/plus">
                    <img
                      class="rounded-lg"
                      src="https://m.media-amazon.com/images/I/91vIToID-lL.jpg"
                      alt=""
                    />
                    <div
                      class="absolute top-2 right-4 z-30 hidden group-hover/plus:block group/addWishlist"
                    >
                      <i class="aaaa text-lg fa-solid fa-circle-plus"></i>
                      <div
                        class="absolute py-2 bg-primary w-40 text-center hidden group-hover/addWishlist:block"
                      >
                        Add to Wishlist
                      </div>
                    </div>
                  </a>
                  <div class="pt-4">
                    <a href="#!">
                      <h3 class="lg:text-xl text-lg font-bold">Metro Exodus</h3>
                    </a>
                    <div class="pt-6 flex items-center gap-4">
                      <span
                        class="lg:text-base text-sm py-0.1 px-1.5 text-black rounded-xl bg-secondary"
                      >
                        -80%
                      </span>

                      <span class="lg:text-base text-sm"> &103.500 </span>
                    </div>
                  </div>
                </div>
                <div>
                  <a href="#" class="recommender-img group/plus">
                    <img
                      class="rounded-lg"
                      src="https://m.media-amazon.com/images/I/91vIToID-lL.jpg"
                      alt=""
                    />
                    <div
                      class="absolute top-2 right-4 z-30 hidden group-hover/plus:block group/addWishlist"
                    >
                      <i class="aaaa text-lg fa-solid fa-circle-plus"></i>
                      <div
                        class="absolute py-2 bg-primary w-40 text-center hidden group-hover/addWishlist:block"
                      >
                        Add to Wishlist
                      </div>
                    </div>
                  </a>
                  <div class="pt-4">
                    <a href="#!">
                      <h3 class="lg:text-xl text-lg font-bold">Metro Exodus</h3>
                    </a>
                    <div class="pt-6 flex items-center gap-4">
                      <span
                        class="lg:text-base text-sm py-0.1 px-1.5 text-black rounded-xl bg-secondary"
                      >
                        -80%
                      </span>

                      <span class="lg:text-base text-sm"> &103.500 </span>
                    </div>
                  </div>
                </div>
                <div>
                  <a href="#" class="recommender-img group/plus">
                    <img
                      class="rounded-lg"
                      src="https://m.media-amazon.com/images/I/91vIToID-lL.jpg"
                      alt=""
                    />
                    <div
                      class="absolute top-2 right-4 z-30 hidden group-hover/plus:block group/addWishlist"
                    >
                      <i class="aaaa text-lg fa-solid fa-circle-plus"></i>
                      <div
                        class="absolute py-2 bg-primary w-40 text-center hidden group-hover/addWishlist:block"
                      >
                        Add to Wishlist
                      </div>
                    </div>
                  </a>
                  <div class="pt-4">
                    <a href="#!">
                      <h3 class="lg:text-xl text-lg font-bold">Metro Exodus</h3>
                    </a>
                    <div class="pt-6 flex items-center gap-4">
                      <span
                        class="lg:text-base text-sm py-0.1 px-1.5 text-black rounded-xl bg-secondary"
                      >
                        -80%
                      </span>

                      <span class="lg:text-base text-sm"> &103.500 </span>
                    </div>
                  </div>
                </div>
                <div>
                  <a href="#" class="recommender-img group/plus">
                    <img
                      class="rounded-lg"
                      src="https://m.media-amazon.com/images/I/91vIToID-lL.jpg"
                      alt=""
                    />
                    <div
                      class="absolute top-2 right-4 z-30 hidden group-hover/plus:block group/addWishlist"
                    >
                      <i class="aaaa text-lg fa-solid fa-circle-plus"></i>
                      <div
                        class="absolute py-2 bg-primary w-40 text-center hidden group-hover/addWishlist:block"
                      >
                        Add to Wishlist
                      </div>
                    </div>
                  </a>
                  <div class="pt-4">
                    <a href="#!">
                      <h3 class="lg:text-xl text-lg font-bold">Metro Exodus</h3>
                    </a>
                    <div class="pt-6 flex items-center gap-4">
                      <span
                        class="lg:text-base text-sm py-0.1 px-1.5 text-black rounded-xl bg-secondary"
                      >
                        -80%
                      </span>

                      <span class="lg:text-base text-sm"> &103.500 </span>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End game main -->
            </div>
            <!-- End list-game -->
            <div
              class="list-filters ml-4 lg:flex-[0_1_auto] max-w-6xl relative"
            >
              <div
                class="wrapper-filter lg:static fixed top-0 right-0 w-[100vw] h-[100vh] md:w-[50vw] lg:bg-primary lg:w-auto lg:h-auto bg-cl-third z-[99999] lg:p-0 p-10 overflow-y-auto"
              >
                <div class="filter-head items-center justify-between lg:flex">
                  <span class="font-medium lg:text-xl text-base">
                    Filters(1)
                  </span>
                  <span
                    class="text-secondary cursor-pointer text-sm lg:block hidden"
                  >
                    Reset
                  </span>
                </div>
                <div class="filter-main">
                  <div class="filter-input mt-4 mb-4 relative">
                    <input
                      class="bg-third outline-none px-6 py-2 hover-four w-full"
                      type="text"
                      placeholder="Key word"
                    />
                    <div class="absolute left-1 top-1/2 -translate-y-1/2">
                      <i
                        class="fa-solid fa-magnifying-glass opacity-25 text-sm"
                      ></i>
                    </div>
                  </div>
                  <div class="line-stretch-2"></div>
                  <div class="filter-genre">
                    <input
                      type="checkbox"
                      class="peer hidden"
                      id="open-genre"
                    />
                    <label
                      for="open-genre"
                      class="flex items-center justify-between py-3 cursor-pointer opacity-60 hover-second"
                    >
                      Genre
                      <i
                        class="fa-solid fa-chevron-down peer-checked:hidden"
                      ></i>
                    </label>
                    <ul class="hidden peer-checked:block">
                      <li
                        class="opacity-60 py-3 px-3 cursor-pointer bg-cl-third hover:bg-cl-third transition-all flex items-center justify-between"
                      >
                        Action
                        <i class="fa-solid fa-check"></i>
                      </li>
                      <li
                        class="opacity-60 py-3 px-3 cursor-pointer hover:bg-cl-third transition-all"
                      >
                        Adventure
                      </li>
                      <li
                        class="opacity-60 py-3 px-3 cursor-pointer hover:bg-cl-third transition-all"
                      >
                        Card Game
                      </li>
                      <li
                        class="opacity-60 py-3 px-3 cursor-pointer hover:bg-cl-third transition-all"
                      >
                        Fantasy
                      </li>
                      <li
                        class="opacity-60 py-3 px-3 cursor-pointer hover:bg-cl-third transition-all"
                      >
                        Indie
                      </li>
                      <li
                        class="opacity-60 py-3 px-3 cursor-pointer hover:bg-cl-third transition-all"
                      >
                        Open World
                      </li>
                      <li
                        class="opacity-60 py-3 px-3 cursor-pointer hover:bg-cl-third transition-all"
                      >
                        Space
                      </li>
                    </ul>
                  </div>
                  <!-- End filter-genre -->
                  <div class="line-stretch-2"></div>
                  <div class="filter-features group">
                    <input
                      type="checkbox"
                      class="peer hidden"
                      id="open-features"
                    />
                    <label
                      for="open-features"
                      class="flex items-center justify-between py-3 cursor-pointer opacity-60 hover-second"
                    >
                      Features
                      <i
                        class="fa-solid fa-chevron-down peer-checked:hidden"
                      ></i>
                    </label>
                    <ul class="hidden peer-checked:block">
                      <li
                        class="opacity-60 py-3 px-3 cursor-pointer bg-cl-third hover:bg-cl-third transition-all flex items-center justify-between"
                      >
                        Co-op
                        <i class="fa-solid fa-check"></i>
                      </li>
                      <li
                        class="opacity-60 py-3 px-3 cursor-pointer hover:bg-cl-third transition-all"
                      >
                        Multiplayer
                      </li>
                      <li
                        class="opacity-60 py-3 px-3 cursor-pointer hover:bg-cl-third transition-all"
                      >
                        Online multiplayer
                      </li>
                      <li
                        class="opacity-60 py-3 px-3 cursor-pointer hover:bg-cl-third transition-all"
                      >
                        MMO
                      </li>
                    </ul>
                  </div>
                  <!-- End filter-features -->
                  <div class="line-stretch-2"></div>
                  <div class="filter-types relative group">
                    <input
                      type="checkbox"
                      class="peer hidden"
                      id="open-types"
                    />
                    <label
                      for="open-types"
                      class="flex items-center justify-between py-3 cursor-pointer opacity-60 hover-second"
                    >
                      Types
                      <i
                        class="fa-solid fa-chevron-down peer-checked:hidden"
                      ></i>
                    </label>
                    <ul class="hidden peer-checked:block">
                      <li
                        class="opacity-60 py-3 px-3 cursor-pointer bg-cl-third hover:bg-cl-third transition-all flex items-center justify-between"
                      >
                        Experience
                        <i class="fa-solid fa-check"></i>
                      </li>
                      <li
                        class="opacity-60 py-3 px-3 cursor-pointer hover:bg-cl-third transition-all"
                      >
                        Game
                      </li>
                      <li
                        class="opacity-60 py-3 px-3 cursor-pointer hover:bg-cl-third transition-all"
                      >
                        Game Bundle
                      </li>
                      <li
                        class="opacity-60 py-3 px-3 cursor-pointer hover:bg-cl-third transition-all"
                      >
                        Game Demo
                      </li>
                    </ul>
                  </div>
                  <!-- End filter-types -->
                  <div class="line-stretch-2"></div>
                  <div
                    class="group-btn-filter pt-4 lg:hidden flex items-center justify-evenly"
                  >
                    <div
                      class="close-filter p-3 px-14 border border-white bg-cl-third cursor-pointer rounded-lg font-semibold"
                    >
                      Clear
                    </div>
                    <div
                      class="p-3 px-14 border border-transparent bg-secondary cursor-pointer rounded-lg font-semibold text-black"
                    >
                      Apply
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End list-filters -->
          </div>
          <!-- End wrapper-games -->
        </div>
      </section>
      <!-- End section games -->
    </main>

    <footer class="footer py-10 md:px-20 sm:px-10 px-5 bg-third mt-20">
      <div class="wrapper-footer flex justify-between">
        <div class="footer-left flex-[0_0_70%]">
          <div class="footer-media">
            <div class="footer-media-icon flex items-center gap-4">
              <a href="#!">
                <i
                  class="fa-brands fa-facebook lg:text-2xl text-xl hover:text-secondary transition-all duration-200 ease-in-out"
                ></i>
              </a>
              <a href="#!">
                <i
                  class="fa-brands fa-twitter lg:text-2xl text-xl hover:text-secondary transition-all duration-200 ease-in-out"
                ></i>
              </a>
              <a href="#!">
                <i
                  class="fa-brands fa-youtube lg:text-2xl text-xl hover:text-secondary transition-all duration-200 ease-in-out"
                ></i>
              </a>
            </div>
            <!-- End footer-media-icon -->
            <div
              class="footer-media-links pt-4 grid lg:grid-cols-4 grid-cols-2 gap-3"
            >
              <ul>
                <h4 class="opacity-25">Resources</h4>
                <li
                  class="hover:text-secondary transition-all duration-200 ease-in-out"
                >
                  <a href="#!">Support-A-Creator</a>
                </li>
                <li
                  class="hover:text-secondary transition-all duration-200 ease-in-out"
                >
                  <a href="#!">Distribute on Epic Games</a>
                </li>
                <li
                  class="hover:text-secondary transition-all duration-200 ease-in-out"
                >
                  <a href="#!">Careers</a>
                </li>
                <li
                  class="hover:text-secondary transition-all duration-200 ease-in-out"
                >
                  <a href="#!">Company</a>
                </li>
              </ul>
              <ul>
                <h4 class="opacity-25">Design</h4>
                <li
                  class="hover:text-secondary transition-all duration-200 ease-in-out"
                >
                  <a href="#!">Fan Art Policy</a>
                </li>
                <li
                  class="hover:text-secondary transition-all duration-200 ease-in-out"
                >
                  <a href="#!">UX Research</a>
                </li>
                <li
                  class="hover:text-secondary transition-all duration-200 ease-in-out"
                >
                  <a href="#!">Store EULA</a>
                </li>
                <li
                  class="hover:text-secondary transition-all duration-200 ease-in-out"
                >
                  <a href="#!">Company</a>
                </li>
              </ul>
              <ul>
                <h4 class="opacity-25">Company</h4>
                <li
                  class="hover:text-secondary transition-all duration-200 ease-in-out"
                >
                  <a href="#!">Fan Art Policy</a>
                </li>
                <li
                  class="hover:text-secondary transition-all duration-200 ease-in-out"
                >
                  <a href="#!">UX Research</a>
                </li>
                <li
                  class="hover:text-secondary transition-all duration-200 ease-in-out"
                >
                  <a href="#!">Store EULA</a>
                </li>
                <li
                  class="hover:text-secondary transition-all duration-200 ease-in-out"
                >
                  <a href="#!">Company</a>
                </li>
              </ul>
              <ul>
                <h4 class="opacity-25">Made By Epic Games</h4>
                <li
                  class="hover:text-secondary transition-all duration-200 ease-in-out"
                >
                  <a href="#!">Battle Breakers</a>
                </li>
                <li
                  class="hover:text-secondary transition-all duration-200 ease-in-out"
                >
                  <a href="#!">Fortnite</a>
                </li>
                <li
                  class="hover:text-secondary transition-all duration-200 ease-in-out"
                >
                  <a href="#!">Infinity Blade</a>
                </li>
                <li
                  class="hover:text-secondary transition-all duration-200 ease-in-out"
                >
                  <a href="#!">Robo Recall</a>
                </li>
              </ul>
            </div>
            <!-- End footer-media-links -->
          </div>
          <!-- End footer-media -->
          <div class="line-stretch"></div>
          <div class="footer-no-copyright">
            <p class="text-xs opacity-25">
              © 2024, Epic Games, Inc. All rights reserved. Epic, Epic Games,
              the Epic Games logo, Fortnite, the Fortnite logo, Unreal, Unreal
              Engine, the Unreal Engine logo, Unreal Tournament, and the Unreal
              Tournament logo are trademarks or registered trademarks of Epic
              Games, Inc. in the United States of America and elsewhere. Other
              brands or product names are the trademarks of their respective
              owners.
            </p>
            <p class="text-xs opacity-25">
              Our websites may contain links to other sites and resources
              provided by third parties. These links are provided for your
              convenience only. Epic Games has no control over the contents of
              those sites or resources, and accepts no responsibility for them
              or for any loss or damage that may arise from your use of them.
            </p>
          </div>
          <!-- End footer-no-copyright -->
        </div>
        <!-- End footer-left -->
        <div class="scroll-to-top fixed bottom-16 right-10">
          <div class="cursor-pointer">
            <i
              class="fa-solid fa-circle-up md:text-4xl text-3xl hover:text-secondary transition-all duration-200 ease-in-out"
            ></i>
          </div>
        </div>
        <!-- End scroll to top -->
        <div class="footer-righ w-full flex justify-end">
          <div class="cursor-pointer">
            <i
              class="fa-solid fa-gamepad md:text-5xl sm:text-4xl text-3xl hover:text-secondary transition-all duration-200 ease-in-out"
            ></i>
          </div>
        </div>
        <!-- End footer-right -->
      </div>
      <div class="footer-more pt-6 flex items-center justify-between">
        <ul class="flex items-center gap-4">
          <li
            class="text-sm opacity-50 hover:text-secondary transition-all duration-200 ease-in-out"
          >
            <a href="#!">Terms of Service</a>
          </li>
          <li
            class="text-sm opacity-50 hover:text-secondary transition-all duration-200 ease-in-out"
          >
            <a href="#!">Privacy Policy</a>
          </li>
          <li
            class="text-sm opacity-50 hover:text-secondary transition-all duration-200 ease-in-out"
          >
            <a href="#!">Store Refund Policy</a>
          </li>
        </ul>
        <div class="flex items-center gap-4">
          <a href="#!">
            <i
              class="fa-solid fa-biohazard md:text-4xl text-3xl hover:text-secondary transition-all duration-200 ease-in-out"
            ></i>
          </a>
          <a href="#!">
            <i
              class="fa-brands fa-fantasy-flight-games md:text-4xl text-3xl hover:text-secondary transition-all duration-200 ease-in-out"
            ></i>
          </a>
        </div>
      </div>
      <!-- End wrapper-footer  -->
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4/dist/js/splide.min.js"></script>
    <script type="module" src="../../../ts/js/browse.js"></script>
    <script type="module" src="../../../ts/js/main.js"></script>
  </body>
</html>
