@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Inter Tight", system-ui, sans-serif;
  color: #ffffff;
  scroll-behavior: smooth;
}
/* Hover */
.hover-primary:hover {
  opacity: 0.7;
  transition: all 0.2s ease-in-out;
}
.hover-second:hover {
  opacity: 1;
  transition: all 0.2s ease-in-out;
}
.hover-third:hover {
  background: rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
}
.hover-four:hover {
  background: rgb(255, 255, 255, 0.2);
  transition: all 0.2s ease-in-out;
}
.hover-five:hover {
  background: rgb(255, 255, 255, 0.4);
  transition: all 0.2s ease-in-out;
}
/* Custom scroll bar */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* overlay */
.overlay-img {
  position: relative;
  z-index: 99;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.overlay-img::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgb(0, 0, 0, 0.4);
  z-index: 10;
}

.overlay {
  position: relative;
  z-index: 99;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.overlay::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgb(0, 0, 0, 0.3);
  z-index: 20;
}

.bg-third {
  background: rgb(255, 255, 255, 0.1);
}
.div {
  width: 100px;
  height: 600px;
  background: red;
}

/* line through */
.line-stretch {
  width: 100%;
  background: #888;
  height: 1px;
  margin: 40px 0;
}

.line-stretch-2 {
  width: 100%;
  background: #888;
  height: 1px;
  margin: 10px 0;
}

.scroll-to-top {
  display: none;
}

/* Header */
@media (max-width: 1023px) {
  .rs-header-bar {
    position: fixed;
    top: 0;
    right: 0;
    width: 200px;
    height: 100vh;
    transform: translateX(200px);
    background: #000;
    z-index: 99;
    transition: all 0.3s ease-in-out;
  }
  .rs-header-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 160px;
    height: 100vh;
    transform: translateX(-200px);
    background: #000;
    z-index: 9999999;
    transition: all 0.3s ease-in-out;
  }
}

.mb-bar {
  z-index: 999999;
}

.active-bar {
  transform: translateX(0);
}

.container {
  padding: 0 10px;
}

@media (max-width: 650px) {
  .container {
    padding: 0 20px;
  }
}

/* Scroll to top */

/* Main */
/* Section Search */
@media (max-width: 650px) {
  .hero-arrow {
    display: none;
  }
}

@media (max-width: 768px) {
  .wrapper-search {
    display: none;
  }
}
.search-active {
  display: block !important;
}

/* scroll search */
.section-search {
  top: 80px;
  transition: all 0.1s ease-in-out;
}

.search-list {
  display: none;
}

.scroll {
  top: 0;
}

.wrapper-search {
  position: relative;
}

/* Section */
.recommender-img {
  position: relative;
}

.recommender-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
  background: transparent;
  transition: all 0.1s ease-in-out;
  border-radius: 8px;
}

.recommender-img:hover::before {
  background: rgb(255, 255, 255, 0.1);
}

/* ----- Browser ----- */
/* Section Popular */

.popular-arrow {
  display: none;
}

/* Filter product */

@media (max-width: 1024px) {
  .wrapper-filter {
    display: none;
  }
}

/* Detail game */

.splide__slide-thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-detail-arrows {
  display: none;
}

.detail-thumb-arrow.splide__arrow--prev {
  position: absolute;
  left: -80px;
  top: 46px;
}

.detail-thumb-arrow.splide__arrow--next {
  position: absolute;
  right: -80px;
  top: 46px;
}
@media (max-width: 768px) {
  .detail-thumb-arrow.splide__arrow--prev {
    left: -40px;
    width: 24px;
    height: 24px;
    font-size: 14px;
  }

  .detail-thumb-arrow.splide__arrow--next {
    right: -40px;
    width: 24px;
    height: 24px;
    font-size: 14px;
  }
}

/* Cart */
.check-out {
  display: none;
}

/* Block */
.active-block {
  display: block;
}

.active-hidden {
  display: none;
}

/* None */

/* Sign in */
.form-sign-in {
  border-color: #ffffff;
}

.form-sign-in input {
  z-index: 99999;
}

.form-sign-in label {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  transition: all 0.2s ease-in-out;
  z-index: 1;
  color: #ddd;
}

.form-sign-in input:focus ~ label,
.form-sign-in input:active ~ label,
.form-sign-in input:not(:placeholder-shown) ~ label {
  font-size: 12px;
  top: 10px;
}

.wrapper-game a:hover {
  opacity: 0.7;
  transition: all 0.2s ease-in-out;
}

.wrapper-game:hover .wrapper-wishlist {
  display: block;
}
.wrapper-wishlist {
  display: none;
}

.icon-wishlist ~ div {
  display: none;
}

.icon-wishlist:hover ~ div {
  display: block;
}

/* form */

form .wrapper-input .form-sign-in.active {
  border: 1px solid red !important;
}

form .wrapper-input .form-sign-in.active ~ span {
  color: red;
}
